# dependencies
node_modules/
.pnpm-store/

# build output
dist/
.next/
out/
build/
*.tsbuildinfo

# turbo
.turbo/

# env
.env
.env.local
.env.*.local

# drizzle
packages/db/drizzle/meta/_journal.bak

# logs
*.log
npm-debug.log*
pnpm-debug.log*

# test
coverage/
playwright-report/
test-results/
.playwright/

# local data volumes
.docker-data/
.postgres-data/
.minio-data/
.redis-data/

# os / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
